/* 
use rems for font-size
use ems for margin and paddings 
*/

/* imports-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

/* default styles ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(236, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
    --libre: 'Libre Franklin', sans-serif;
}




img {
    max-width: 100%;
}


body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-family: var(--libre);
    padding: 1em 1em;
}


h1 {
    color: var(--gray);
    font-size: 1.5rem;
    margin-block-start: 1em;
}



h1 > b {
    color: var(--very-dark-blue);
}


form {
    display: grid;
    gap: 5px;
}



/* main styles------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    padding: 1.2em;
}


.header {
    display: grid;
    place-items: center;
    gap: 10px;
}


.header_text {
    font-size: 0.87rem;
    color: var(--gray);
}


._logo {
    height: 16px;
    margin-block-start: 2em;
}



.form_input {
    outline: none;
    border: none;
    border: 1px solid var(--pale-blue);
    border-radius: 2em;
    font-size: 1rem;
    width: 288px;
    padding: 0.7em 0em 0.7em 1.5em;
}



.form_button {
    outline: none;
    border: none;
    background-color: var(--blue) ;
    color: white;
    border-radius: 2em;
    font-size: 1rem;
    padding: 0.7em 0em 0.7em 0em;
    text-align: center;
    box-shadow: 0px 2px 12px 2px var(--pale-blue);
    cursor: pointer;
    display: block;
}


.form_input::placeholder {
    color: var(--pale-blue);
    opacity: 1;
    font-size: 0.87rem;
}


.myClass::placeholder {
    color: var(--light-red)
}



.error_message {
    color: var(--light-red);
    font-size: 0.6rem;
    text-align: center;
    padding-block-end: 1em;
}


.icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-block-start: 3em;
}


.icons span {
    border: 1px solid;
   display: grid;
   padding: 0.5em;
   width: max-content;
   place-items: center;
   border-radius: 50%;
   outline: none;
   border-color: var(--pale-blue);
}


.icons_ {
    height: 18px;
    width:18px;
    filter: invert(40%) sepia(100%) hue-rotate(200deg) saturate(900%);
 }



 


.footer {
    margin-block-start: 2em;
    margin-block-end: 1em;
    font-size: 0.7rem;
}


.footer_text {
    margin-block-start: 2em;
}



/* media-queries ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 600px) {

.footer {
        margin: 0;
    }



main {
        margin-block-start: -2em;
        max-width: 700px
    }
 


form {
    grid-template-columns: auto auto;
    grid-template-rows: auto 5px;
    margin: 0 auto;
 } 



form > p {
    display: none;
}

.form_input {
    display: inline-block;
    width: 21em;
}
 
 form .form_button {
    width: 10em;
 }


 .error_message {
    display: block;
    text-align: left;
    margin-inline-start: 2em;
    grid-row: 2 / 2
 }
 


 .icons span:hover {
    background-color: var(--blue);  
 }



 .icons span:hover .icons_ {
    filter: brightness(0) invert(1);
    cursor: pointer;
    
 }



 .footer {
    margin: 0 auto;
 }
}